.initiative{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    background-color: #455e89ff;
    margin: 0, 2rem;
    min-height: 80vh;
}

.title{
    display: flex;
    width: 100%;
    justify-content:center;
}

.control{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 5rem;
    margin: 1rem;
}

.table{
    width: 90%;
    border-top: 4px solid black;
}

@media(min-width: 700px){
.table{
    width: 80%
}
}
