.button{
    height: 4rem;
    width: 8rem;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #455e89ff;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0.5rem;
}

.button:hover,
.button:active,
.button:focus{
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    outline: none;
    appearance: none;
    background-color: #253e69ff;
}